html, body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 0.9rem;
}

html, body {
  height: 100%;
}

.overflow-y-scroll {
  max-height: 100%;
  overflow-y: auto;
}

/* override Bootstrap' buttons style */
.btn,
.btn-group > .btn,
.form-control {
  border-radius: 0;
}
